:root{
    /* C O L O R E S */
    --yellow-color:#f2da46;
    --dark-blue-color:#071680;
    --secundary-blue-color:#b6aad4;
    --light-blue-color:#dbd4e9;
    --light-gray-color:#FAFAFA;

    /* S P A C E R S */
    --spacer-xs: 8px; 
    --spacer-s: 16;
    --spacer-m: 24px;
    --spacer-l: 32px;
    --spacer-xl: 48px;
    --spacer-xxl: 64px;
    --spacer-xxxl:128px;
}

    
    