@import "base.css";
.cmp-header{
    min-height:98px;
    background-color: var(--light-gray-color);
    border-bottom: 8px solid var(--yellow-color);
    
}
.cmp-header__container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}
.cmp-header__container-logo img{
    margin-top: 27px;
    height:200px;

}

.cmp-header__container-menu ul{
    margin:0;
    display:flex;
    gap:30px;
    align-items: center;
    list-style-type: none;
    margin-top:10px;
}

.cmp-header__container-menu a{
    text-decoration: none;
    color:var(--dark-blue-color);
}

.cmp-header__container-menu button{
    background-color: var(--yellow-color);
    border-radius: 40px;
    border:none;
    padding:8px 18px;
}